In [0]:
#Created By Livia Ellen
#18 March 2021

In [5]:
import pandas as pd
import numpy as np

In [6]:
#Create sample dictionary
#dt = {'Name': ['Data1','Data2','Data3','Data4', 'Data5', 'Data6', 'Data7'],
#      '01/01/17': [0.0,0.0,0.0,1.0,0.0,0.0,5.0],
#      '01/02/18': [1.7,0.0,1.7,0.0,0.0,1.3,3.5],
#      '01/03/19': [3.7,2.8,0.0,3.0,2.8,0.0,2.8],
#      '01/04/20': [0.0,3.5,0.0,4.1,4.8,4.3,2.8]
#     }


db = {'Name': ['Data1','Data2','Data3','Data4', 'Data5', 'Data6', 'Data7'],
      '01/01/17': [0,0,0,1.0,0,0,5.0],
      '01/02/18': [1.7,0,1.7,0,0,1.3,3.5],
      '01/03/19': [3.7,2.8,0,3.0,2.8,0,2.8],
      '01/04/20': [0,3.5,0,4.1,4.8,4.3,2.7]
     }

In [7]:
#Assign the dictionary to dataFrame
df = pd.DataFrame(db, columns = ['Name', '01/01/17','01/02/18', '01/03/19', '01/04/20'])

In [8]:
#Checking the data by printing
print (df)

    Name  01/01/17  01/02/18  01/03/19  01/04/20
0  Data1       0.0       1.7       3.7       0.0
1  Data2       0.0       0.0       2.8       3.5
2  Data3       0.0       1.7       0.0       0.0
3  Data4       1.0       0.0       3.0       4.1
4  Data5       0.0       0.0       2.8       4.8
5  Data6       0.0       1.3       0.0       4.3
6  Data7       5.0       3.5       2.8       2.7

In [9]:
#Solution
d = df.mask(df == 0).drop(['Name'], 1) #Dropping the name column to not be included in function
df.assign(
    FirstNonZero=d.apply(pd.Series.first_valid_index, 1), # finding first non zero
    LastNonZero=d.apply(pd.Series.last_valid_index, 1),  #finding lastnonzero

    
)

    Name  01/01/17  01/02/18  01/03/19  01/04/20 FirstNonZero LastNonZero
0  Data1       0.0       1.7       3.7       0.0     01/02/18    01/03/19
1  Data2       0.0       0.0       2.8       3.5     01/03/19    01/04/20
2  Data3       0.0       1.7       0.0       0.0     01/02/18    01/02/18
3  Data4       1.0       0.0       3.0       4.1     01/01/17    01/04/20
4  Data5       0.0       0.0       2.8       4.8     01/03/19    01/04/20
5  Data6       0.0       1.3       0.0       4.3     01/02/18    01/04/20
6  Data7       5.0       3.5       2.8       2.7     01/01/17    01/04/20